:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
  font-family: "Lora";
}
/*.displayBackground{
  height: 90%;
  width: 100%;
  margin: 0;
  top: 5%;
  left: 0;
  position: absolute;
  background-color: white;
}
.textBox {
  top: 90%;
  height: 10%;
  margin: 0;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.messageList {
  top: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(103, 94, 94);
}
.displayShell {
  max-width: 1000px;
  top: 10%;
  margin: 0;
  position: absolute;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  background-color: rgb(103, 94, 94);
  align-items: center;
}
.CADBOT_Title{
  font-size: 2em;
  color: rgb(220, 215, 215);
  width: 100%;
  height: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  border-color: black;
  border-bottom: 1px solid;
  background-color: rgb(103, 94, 94);
}
.QA_Pairing{
  margin: 0;
  margin-bottom: 5%;
  width: 100%;
  min-height: 10%;
  display: flex;
  flex-direction: column;
}
.shell{
  width: 100%;
  min-height: 50%;
}
.downloadLink{
  color: black;
}
.messageContainer{
  margin: 0;
  right: 0;
  position: absolute;
  max-width: 30%;
  background-color: blue;
  border-radius: 16px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.Output{
  margin: 0;
  left: 0;
  position: absolute;
  max-width: 30%;
  background-color: blue;
  border-radius: 16px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.headerContainer{
  top: 0;
  margin: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.headerElem{
  background-color: black;
  color: white;
  height: 100%;
  max-width: 10%;
  font-size: large;
}*/

/* Home page classes*/
.home{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: baseline;
  background-color: #314F4F;
}
.Header{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  background-color: #314F4F;
  padding-left: 5%;
}
.headerRight{
  margin: 0;
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #314F4F;
}
.HeaderButtons{
  background-color: transparent;
  border-color: transparent;
  color: black;
}
.homeBody{
  margin: 0;
  position: absolute;
  top: 10%;
  left: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  background-color: #314F4F;
}
.homeCAD {
  margin: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
#homeViewer{
  height: 100%;
  width: auto;
}
.homeBodyTitle{
  margin: 0;
  position: absolute;
  left: 0;
  top: 45%;
  height: 10%;
  width: 100%;
  color: black;
}
.homeBodyButton{
  border-radius: 20px;
  font-size: 1.5em;
  background-color: transparent;
  border-color: black;
  color: black;
}

/* Login page classes*/
.signup{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: baseline;
  background-color: #314F4F;
}
.SignUpBody{
  margin: 0;
  position: absolute;
  background-color: #314F4F;
  top: 10%;
  left: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SignUpBodyTitle{
  color: black;
  font-size: 2.5em;
}
.divLoginPwd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:30%;
}
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.loginLabel{
  width: 100%;
  font-size: 1.5em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.textbox {
  height: 1.5em;
  background-color: transparent;
  border: 3px solid black;
  color: black;
}
.loginSubmit{
  border-radius: 20px;
  font-size: 1.5em;
  background-color: transparent;
  border-color: black;
  color: black;
  border: 3px solid;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.loginSubmit:hover {
  border-color: #646cff;
}
.loginCancel{
  border-radius: 20px;
  font-size: 1.5em;
  background-color: transparent;
  border-color: black;
  color: black;
}

/* About classes*/
.aboutBody{
  margin: 0;
  position: absolute;
  top: 10%;
  left: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #314F4F;
}
.aboutTitle{
  color: black;
}
.aboutText{
  color: black;
  width: 70%;
}

/* CADbot classes */
.cadbotBody{
  margin: 0;
  position: absolute;
  background-color: #314F4F;
  top: 10%;
  left: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: baseline;
}
.sideBar{
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: baseline;
  border: transparent;
  border-right: 3px solid black;
}
.curQuery{
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  border: transparent;
  border-left: 3px solid black;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Add_Element_Unclicked{
  /*top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  font-size: 1em;
  background-color: transparent;
  color: black;*/
  background-color: green;
}
.previousQueries{
  top: 5%;
  left: 0;
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: stretch;
  overflow-y: auto;
  color: black;
}
.previousQueryElem{
  background-color: transparent;
  color: black;
}
/* CADBot Right Panel */
.curQueryTitle{

}
.errorMessage{
  color: black
}
.shapeButtons{

}
.shapeButton{

}
.divEnterDimension{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
}
.dimensionForm{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.dimensionLabel{
  width: 100%;
  font-size: 1.5em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.dimTextbox{
  height: 1.5em;
  background-color: transparent;
  border: 3px solid black;
  color: black;
}
.dimensionSubmit{
  border-radius: 20px;
  font-size: 1.5em;
  background-color: transparent;
  border-color: black;
  color: black;
  border: 3px solid;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.dimensionSubmit:hover{
  border-color: #646cff;
}
.dimensionCancel{
  border-radius: 20px;
  font-size: 1.5em;
  background-color: transparent;
  border-color: black;
  color: black;
}
.viewingModel{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 40%;
  width: 100%;
}
.modelWrapper{
  height: 80%;
  width: 50%;
  background-color: black;
}
#displayModel {
  height: 100%;
  width: auto;
  border: 3px solid black;
}
.DownloadLink{

}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
